.kayit{
    position: absolute;
    cursor: pointer;
    color: #000000;
    left: 46%;
    bottom: 7%;
    height: 20px;
    width: 20px;
}
.giris{
    position: absolute;
    cursor: pointer;
    color: #000000;
    left: 52%;
    bottom: 28%;
}

.form-select{
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.checkout-form label{
    font-size: 14px;
    font-weight: 500;
}
.checkout-form input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
.tablo{
    font-size: 14px;
    font-weight: 500;
}
.order label{
    font-size: 14px;
    font-weight: 500;
}
.order div{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 5px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 25px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* End of Star Rating */
